
.bankImage {
    width: 8rem;
    height: 4rem;
    &:hover {
      cursor: pointer;
      background-color: rgba(114, 245, 169, 0.329);
    }
  
    img {
      width: 8rem;
  
    }
  }
  
  .bank-container {
    margin: 0 auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  