.red{
    color:rgb(255, 119, 119);
}
    .type{
        
    }
    
       
    .MuiTableCell-root{
        .description{ color:red !important
       }
   
  
    } 
     .amount{
        font-size: small;
        display: flex;
        align-items: center;
    }
    .ref{

    }

