.bank-container {
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  row-gap: 1rem;
  column-gap: 0.2rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding: 0 15px;
  margin-bottom: 2rem;
  
  .icon-delete{
    position:relative;
    z-index: 1500;
    top: 35px;
    left:130px;
    color:rgb(156, 156, 156);
    &:hover{
      color: rgb(201, 46, 46);
    }
  }
  .container-country{
     img{position: relative;
      bottom: 25px;
      left: 10px;
      width: 20px;
     } 
  }
  .bankImage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 10rem;
    height: 6rem;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.102);
    background-color: #ffff;
    &:hover {
      background-color: rgba(214, 217, 223, 0.178);
      cursor: pointer;
    }
   
    img {
      width: 10rem;

    }
  }


  @media screen and (min-width:480px) {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    .icon-delete{
      position:relative;
      font-size: xx-large;
      top: 45px;
      left:205px;
      
      
    }
    .container-country{
      img{position: relative;
       bottom: 30px;
       left: 115px;
       width: 30px;
      } 
   }
    .bankImage {
      width: 15rem;
      height: 8rem;
      img {
        width: 15rem;
  
      }
    }

  }
}